#logo{
    margin-top: 35.49px;
    margin-left: 185.4514px;
    margin-bottom: 37.62;
    width: 200px;
    height: 100px;
    
}

nav{
    margin-top:0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    float:left;
    background-color: #ffffff;
    width: 100%;
    height: 160px; 
    
}
ul{
    margin-left: 10px; 
    margin-top: 55px; 
    margin-bottom: 31.95px;
    padding-left: 40px;
    list-style-type: none;
    display: flex;
    font-size: 25px;
    text-align:left;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
    color: black; 
}
a:hover {
  color: #157DB7;
}
a:active {
  color: #4EB78A;
}
li{
    width: 120px;
    margin: 20px;
    font-family:sans-serif; 
    text-align: center;

}
.background{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-repeat: repeat;
}
h1{
    font-size: 150px;
    margin-left: 200px;
    margin-bottom: -150px;
    color: #157DB7;
    font-family:sans-serif;
}
h2{
    font-size: 150px;
    margin-left: 200px;
    margin-bottom: 30px;
    color: #157DB7;
    font-family:sans-serif;
}
p{
    font-size: 50px;
    margin-left: 250px;
    margin-top: 150px;
    margin-right: 100px;
    font-family:sans-serif;  
}
#person{
    display: flex;
    flex-direction: row;
    float: left;
}
#icon{
    width:700px;
    height: 600px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: -200px;
    
}
#email{
    width:300px;
    margin-left: 270px;
    margin-top: -120px;
    margin-bottom: 400px;
}
