#logo{
    margin-top: 35.49px;
    margin-left: 185.4514px;
    margin-bottom: 37.62;
    width: 200px;
    height: 100px;
    
}

body{
    background-image: url('../img/SYM_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    font-family: sans-serif;
}

nav{
    margin-top:0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    float:left;
    background-color: #ffffff;
    width: 100%;
    height: 160px; 
    
}
ul{
    margin-left: 10px; 
    margin-top: 55px; 
    margin-bottom: 31.95px;
    padding-left: 40px;
    list-style-type: none;
    display: flex;
    font-size: 25px;
    text-align:left;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
    color: black; 
}
a:hover {
  color: #157DB7;
}
a:active {
  color: #4EB78A;
}
li{
    width: 120px;
    margin: 20px;
    font-family:sans-serif; 
    text-align: center;

}
.background{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-repeat: repeat;
}
h1{
    color: white; 
    font-size: 200px; 
    margin-top: 0px;
    margin-left: 600px;
    margin-bottom: 0px;
    font-family:sans-serif;
}
h2{
    color: white; 
    font-size:85px; 
    margin-top: 0px;
    margin-left: 700px;
    margin-bottom: 20px;
    font-family:sans-serif;
}
p{
    color: white; 
    font-size:25px; 
    font-family:sans-serif;
    text-align: center;
    margin: 5px;
}
#comment{
    width: 1480px;
    margin-left: 165px;
    margin-bottom: 200px;
    background: #157DB7;
    opacity: 100%;
    border-radius: 30px;
    opacity: 78%;
}
#message{
    width: 1200px;
    height: 300px;
    background: white;
    border-radius: 10px;
    margin-top: -30px;
    margin-left: 140px;
    margin-bottom: 40px;
}
#name{
    margin-top: -30px;
    width: 1200px;
    height: 50px;
    background: white;
    border-radius: 10px;
    margin-left: 140px
}
section{
    margin-top: 70px;
    margin-left: 65px;
    margin-bottom: 90px;
}
.container{
    margin-left: 100px;
    width:78%;
    height: 500px;
    padding: 50px;
    box-shadow: 0px 0px 20px #157DB7;
    background-color:#157DB7; 
    opacity: 78%;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
}
.form-group input,
.form-group textarea{
    width: 100px;
    padding: 25px;
    font-size: 25px;
    border: 1px solid #4EB78A;
    margin-top: 5px;
}
textare{
    resize: vertical;
}
button[type="submit"]{
    margin-left: 1000px;
    width: 300px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 35px;
    color: #157DB7;
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
button[type="submit"]:hover{
    background-color: #4EB78A;
}